<div class="flex items-center justify-center px-10 py-6 md:px-20 md:py-10">
    <div class="block text-center">
        <h1 class="block pb-4 text-3xl md:text-5xl md:leading-1 text-gray-800">{{ section.settings.heading-text }}</h1>
        <p class="block text-base md:text-md leading-1 md:leading-3 text-gray-500">{{ section.settings.heading-description }}</p>
    </div>
</div>

{% schema %}
{
    "name": "Text Header",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Section Header"
        },
        {
            "type": "paragraph",
            "content": "Describe the sections purpose with this section."
        },
        {
            "type": "text",
            "id": "heading-text",
            "label": "Title Text"
        },
        {
            "type": "richtext",
            "id": "heading-description",
            "label": "Description"
        }
    ]
}
{% endschema %}